.todo-list-item {
   font-size: 1.25rem;
   display: flex;
   justify-content: space-between;
   max-width: 375px;
 }
 
 .todo-list-item button {
   width: 35px;
   margin: 3px;
 }
 
 .todo-list-item-label {
   overflow: hidden;
   max-width: 280px;
   white-space: wrap;
   margin-right: 5px;
   margin-left: .25rem;
   line-height: 35px;
   cursor: pointer; /* вигляд курсора */
   user-select: none; /* чи можна виділити текст */
 }
 
 .todo-list-item.done .todo-list-item-label {
   text-decoration: line-through;
 }
 
 .todo-list-item.important .todo-list-item-label { 
   font-weight: bold;
   color: steelblue; 
 }